---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta
			name="description"
			content="A night sky where each star remembers a loved one who has passed."
		/>
		<title>Still, We Shine</title>
	</head>
	<body class="h-full font-sans text-gray-300">
		<slot />
	</body>
</html>
